*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #c87a26;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

button:active{
    transform: scale(0.95);
}

.box{
    height: 40%;
    width: 60%;
    background-color: #676767;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}